* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

body {
    margin: 0;
}

.active {
    color: #ffb30b;
}


a {
    color: #00b7ff;
}

.social-share-preview {
    font-family: Inter, serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
    margin: 50px;
}

.container {
    padding: 45px 0;
}

/* Title style  start*/

.title-spg {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    padding: 15px;
    margin: 0 auto;
}

.ph-share-network {
    color: #ffb30b;
}

.ph-share-network {
    font-size: 100px;
    transition: all 300ms;
    cursor: pointer;
}

.ph-share-network:hover {
    transform: scale(1.1);

}

.title {
    font-weight: 500;
    margin: 16px;
    text-align: center;
}

.title-spg h3 {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 15px;
}

/* Title style  end*/

/* Form Container style  start*/
.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
}

input {
    width: 90%;
    background: #fff;
    color: #a3a3a3;
    box-shadow: rgba(0, 0, 0, 0.09) 0 3px 12px;
    border: 0;
    outline: 0;
    padding: 22px 18px;
}

input::placeholder {
    color: #999999;
}

.button {
    position: relative;
    cursor: pointer;
    padding: 12px 36px;
    background: #ffb30b;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 2px;
    margin-left: -75px;
    transition: all 200ms ease-in;
}

.button:active {
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.button__text {
    color: #ffffff;
    transition: all 0.2s;
}

.button--loading .button__text {
    visibility: hidden;
    opacity: 0;
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}


/* Form Container style  end*/

/* Content  style  start*/

.content {
    padding: 15px;
}

.preview-container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

/* Loading style start */
@keyframes bouncedelay {

    0%,
    100%,
    80% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

.spinner {
    margin-top: 10px;
}

.processing-msg {
    color: black;
}

.load-circle {
    width: 18px;
    height: 18px;
    background-color: #ffb30b;
    border-radius: 100%;
    display: inline-block;
    animation: bouncedelay 1.4s infinite ease-in-out;
    animation-fill-mode: both;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.load-circle-1 {
    animation-delay: -0.32s;
}

.load-circle-2 {
    animation-delay: -0.16s;
}

/* Loading style end */

/* Social Icon style start */

.social-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.social-icon i {
    cursor: pointer;
    font-size: 35px;
    padding: 5px;
    transition: all 300ms;
}

.social-icon i:hover {
    transform: scale(1.1);
}

/* Social icon style end */

.facebook-data {
    border: 1px solid #e5e5e5;
    cursor: pointer;
    max-width: 600px;
    margin: 0 auto;
}

.text-container {
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 10px;
    background-color: #f6f6f6;
    text-align: left;
}

.text-container > * + * {
    margin-top: 10px;
}

.header {
    font-weight: 600;
    font-size: 16px;
}

.description {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
    overflow: hidden;
}

.img-container {
    position: relative;
    padding-bottom: 50%;
    text-align: center;
}

.img {
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}


.domain {
    font-size: 12px;
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.twitter-image {
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;

}

.twitter-data {
    border: 1px solid #c4cfd6;
    border-radius: 16px;
    background: #fff;
    cursor: pointer;
    overflow: hidden;
    max-width: 600px;
    margin: 0 auto;
}

.twitter-content {
    display: flex;
    flex-direction: column;

    padding: 10px;
    color: #5b7083;

}

.twitter-content i {
    font-size: 16px;
}

.twitter-description {
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
    overflow: hidden;
    margin-bottom: 2px;
}

.twitter-title {
    margin-bottom: 2px;
    text-align: left;
}

.twitter-link-block {
    display: flex;
    align-items: center;
}

.linkedin-image {
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;

}

.linkedin-data {
    border: 1px solid #c4cfd6;
    background: #fff;
    cursor: pointer;
    overflow: hidden;
    max-width: 600px;
    margin: 0 auto;
}

.linkedin-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background-color: #eef3f8;

}


.linkedin-description {
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
    overflow: hidden;
    margin-bottom: 2px;
}

.linkedin-title {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, .9);
    line-height: 20px;
    padding-bottom: 2px;
    text-align: left;
}

.linkedin-link-block {
    display: flex;
    align-items: center;
}

.linkedin-link {
    font-size: 12px;
    color: rgba(0, 0, 0, .6);
    line-height: 1.33333;
    margin-top: 8px;

}

.slack-image {
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;

}

.slack-image-link {
    width: 16px;
    margin-right: 8px;
}

.slack-data {

    background: #fff;
    cursor: pointer;
    overflow: hidden;
    max-width: 600px;
    margin: 0 auto;
}

.slack-data-container {
    display: flex;
}

.slack-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;

}

.slack-line {
    margin-right: 12px;
    background-color: #ddd;
    border-radius: 8px;
    display: block;
    content: '';
    width: 4px;
    flex-shrink: 0;
}

.slack-description {
    text-align: left;
}

.slack-title {
    font-weight: 700;
    color: #1264a3;
    text-align: left;
}

.slack-link-block {
    display: flex;
    align-items: center;
    font-weight: 900;
}


.error-msg {
    text-align: center;
    line-height: 1.5;
}

.error-msg i {
    font-size: 23px;
    color: red;
}

.error-url {
    font-size: 12px;
    color: red;
}

.error-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* css to form input */
.data-info {
    padding: 15px;
}

.result {
    display: flex;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 5%);
    border-radius: 1.25rem;
    border: none;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 30px;

}

.result-icon {
    padding: 0 15px 0 0;
}

.result-icon i {
    color: #ffb30b;
    font-size: 35px;
}


.result-info {

    margin-left: 0;
    margin-right: 1.25rem;
}

.result-title h3 {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 700;
    text-align: left;
}

.result-text ul {
    margin-top: 0.5rem;
    padding-left: 0;
    list-style: none;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align: left;
}

.result-text ul li {
    margin-bottom: 8px;
}

.result-text ul li i {
    font-size: 20px;
    padding-right: 8px;
}

code {
    color: #ffb30b;
}

.title-info {
    display: flex;
    align-items: flex-start;
}

.description-info {
    display: flex;
    align-items: flex-start;
}

.image-info {
    display: flex;
    align-items: flex-start;
}

.title-length-info {
    display: flex;
    align-items: flex-start;
}

.description-length-info {
    display: flex;
    align-items: flex-start;
}

.img-size-info {
    display: flex;
    align-items: flex-start;
}

@media (max-width: 576px) {
    li {
        font-size: 11px;
    }
}

@media (max-width: 576px) {
    .init-message {
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .title-spg h3 {
        font-size: 11px;
    }
}
